form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid $primary-color;
    border-radius: $border-radius;
    background-color: $background-color;
    color: $text-color;
}